<!DOCTYPE html>
<html>
  <head>
    <title>Home | Random Thoughts</title>
  </head>
  <body>
    <h1>Random Thoughts</h1>

    <p>Have you ever had this feeling - that you had a great idea - you MUST remember?</p>

    <p>Until you forgot what the idea was 5 minutes later?</p>

    <p>Random Thoughts will help you solve this problem.</p>
  </body>
</html>

