<footer class="footer">
  <small>
    Based on <a href="https://www.learnenough.com/ruby-on-rails-7th-edition">Ruby on Rails Tutorial by Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>